<div class="h-screen w-screen flex justify-center items-center p-4">
  <div class="forgot-password-container w-full max-w-md">
    <div class="text-center mb-8">
      <h1 class="text-4xl font-bold text-white mb-2 !text-white">Elfelejtett jelszó</h1>
      <p class="text-gray-200 text-opacity-80">Add meg az email címedet a folytatáshoz.</p>
    </div>

    @if (successMessage()) {
      <nz-alert class="mb-4" nzType="success" [nzMessage]="successMessage()!" nzShowIcon></nz-alert>
    }

    @if (errorMessage()) {
      <nz-alert class="mb-4" nzType="error" [nzMessage]="errorMessage()!" nzShowIcon></nz-alert>
    }

    <form
      nz-form
      [formGroup]="forgotPasswordForm"
      class="forgot-password-form"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item class="w-full">
        <nz-form-control nzErrorTip="Érvényes email cím megadása kötelező">
          <nz-input-group nzPrefixIcon="mail">
            <input
              type="email"
              nz-input
              formControlName="email"
              placeholder="E-mail"
              style="border-radius: 5px; padding: 5px"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <button
        nz-button
        class="w-full login-button mb-3"
        [nzType]="'primary'"
        [nzLoading]="isSubmitting()"
        [disabled]="isSubmitting()"
      >
        Tovább
      </button>

      <a class="w-full block text-center !text-white" [routerLink]="['/login']"
        >Vissza a bejelentkezéshez</a
      >
    </form>
  </div>
</div>
